aws_region        = "us-east-1"
environment_name  = "dev"
business_division = "retail"

# Optional custom tags
# tags = {
#   Terraform   = "true"
#   Environment = "dev"
#   Project     = "RetailStore"
# }
